<div class="row-fluid">
  <div class="col-md-6">
    <h2> Dynamic Google Maps </h2>
    <div id="map" style='width: 100%; height: 600px;'></div>
  </div>
  <div class="col-md-6">
    <%= link_to new_map_path do %>
        <button class="btn btn-primary">Add Map</button>
    <% end %>

    <hr>
    <% @maps.each do |map| %>
        <div class="row-fluid col-md-6">
          <h2><%= link_to map.title, map %></h2>
          <p><%= map.address %></p>
          <p>Latitude: <%= map.latitude %></p>
          <p>Longitude: <%= map.longitude %></p>
          <%= link_to "Edit", edit_map_path(map), class: "btn btn-default" %>
          or
          <%= link_to "delete", map, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"  %>
        </div>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
    <script type="text/javascript">
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function(){
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
                handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
            }
        });
    </script>
<% end %>
